.content-layout{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 280px 1fr 280px;
  grid-template-areas: 'sidebar main aside';
  gap: 1rem;
  height: 100vh;
  padding-top: calc(52px + 20px);
}
.sidebar{
  grid-area: sidebar;
}
.sidebar-perfil{
  background-color: #fff;
  height: max-content;
}
.sidebar_fondo-img{
  width: 100%;
  height: 85px;
}
.sidebar-perfil-info{
  padding: 0 25px;
}
.sidebar-perfil-info__foto-perfil{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: -40px;
  padding: 4px;
  background-color: #fff;
}
.sidebar-perfil-info__nombre{
  font-size: 20px;
  font-weight: 600;
  color: #222;
}
.sidebar-perfil-info__titulo{
  font-size: 14px;
  color: #777;
  font-weight: 500;
}
.sidebar-perfil-info__views{
  list-style: none;
  margin: 15px 0;
}
.sidebar-perfil-info__item{
  width: 100%;
  font-size: 13px;
  color: #5f5f5f;
}
.sidebar-perfil-info__value{
  color: #2874b1;
  float: right;
}
/* --------------------------- */
.sidebar-perfil-link{
  display: flex;
  align-items: center;
  border-top: 2px solid #ccc;
}
.sidebar-perfil-link__enlace{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 15px 0;
  font-size: 13px;
  color: #5f5f5f;
  border-right: 2px solid #ccc;
}
.sidebar-perfil-link__icono{
  color: #045be6;
  font-size: 20px;
  margin-right: 10px;
}
.sidebar-perfil-link__icono--ticket{
  color: #ea9900;
  font-size: 20px;
  border: none;
}
/* --------------------------------------- */
.sidebar-activity{
  background-color: #fff;
  margin: 12px 0;
  padding: 5px 25px;
}
.sidebar-activity__title{
  color: #777;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
}
.sidebar-activity__link{
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #888;
  margin: 4px 0;
  padding: 4px 2px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.8s;
}
.sidebar-activity__link:hover{
  background-color: #d1e3f8;
}
.sidebar-activity__icono{
  font-weight: 700;
  font-size: 22px;
  color: #2874b1;
  margin-right: 10px;
}
.discover-more{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px -25px 0 -25px;
  border-top: 2px solid #ccc;
}
.discover-more__enlace{
  text-decoration: none;
  padding: 4px 2pxs;
  margin: 10px 0;
  font-size: 13px;
  color: #2874b1;
  transition: all 0.8s;
}
.discover-more__enlace:hover{
  background-color: #d1e3f8;
}